@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --primary-color: #ecf0f1;
  --secondary-color: #abbbc7;
  --text-color: #0d0c0e;
  --text-hover-color: #ecf0f1;
  --hover-color: #4f0dc0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* START: Hero styles */
/* .hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
} */

.hero__title {
  @apply animate-slideInUp 2xl:text-[62px] sm:text-[54px] text-[40px] font-extrabold px-10 text-white;
}

.hero__subtitle {
  @apply animate-slideInUp text-[22px] text-white font-light mt-5 px-10;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* NAV */

.a {
  background-image: linear-gradient(to right, #def78a, #def78a 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.a:before {
  content: "";
  background: #def78a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.a:hover {
  background-position: 0;
}

.a:hover::before {
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* About */

.about {
  @apply flex xl:flex-row flex-col gap-5 relative  max-w-[1440px] mx-auto bg-blue-200 min-h-screen p-10;
}

.about__title {
  @apply 2xl:text-[62px] sm:text-[54px] text-[40px] font-extrabold px-10 m-20;
}

.cards {
  @apply flex flex-col gap-16;
}
.about__card {
  @apply bg-[var(--primary-color)] w-1/2 p-6 rounded;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
